/* product list */
.pi-item-angular {
    min-height: 250px;
}

.pi-item-list .page-header h1,
.pi-item-list .page-header h2,
.pi-item-list .page-header h3,
.pi-item-list .page-header h4 {
    font-size: 1.5em;
    padding: 2px 0;
    margin: 2px 0;
}

.pi-item-list .card {
    text-align: center;
}

.pi-item-list .card .card-title {
    margin: 1px;
    padding: 1px;
    font-size: 1.1em;
}

.pi-item-list .card .card-img-top {
    width: 100%;
}

.pi-item-list .card .card-body {
    min-height: 80px;
}

.pi-item-list .card:hover .card-body {
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.pi-item-list .pi-paginator {
    text-align: center;
}

/* video page */
.video-page .video-title h1 {
    font-size: 1.6em;
}

.video-page .video-title h2 {
    font-size: 1.2em;
    color: #9FA0A0;
}

.video-page .video-info-box,
.video-page .video-player,
.video-page .video-info-list {
    padding: 5px 0;
    margin: 5px 0;
}

.video-page .video-channel {
    background-color: #f4f4f4;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
}

.video-page .video-info-list ul {
    padding: 0;
    margin: 0;
}

.video-page .socialSharing {
    margin: 0;
    padding: 0;
}

.video-page .video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 35px;
}

.video-page .video-container iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* video-attribute */
.video-attribute .video-attribute-head h2 {
    font-size: 1.3em;
}

/* image gallery */
.video-image .video-image-attach {
    margin-top: 10px;
}

/* homepage widget */
.video-widget .video-widget-single {
    margin-bottom: 5px;
}

/* video-progress-bar */
.progress {
    display: none;
}

/* category list */
.category-list .card {
    text-align: center;
}

.category-list .card h3 {
    font-size: 1.2em;
    margin: 1px;
    padding: 1px;
}

.category-list .card img {
    width: 100%;
    max-height: 150px;
}

.category-list .card-bg {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
    padding-top: 60px;
}

/* ajax loading spinner */
.ajax-spinner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.75;
}

.ajax-spinner-loader {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

/* Sort */
.video-sort {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #ddd;
}

.video-sort-type {
    cursor: pointer;
}

/* top description*/
.category-width-description {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    right: 0;
    width: 50%;
    margin-top: 3%;
    margin-right: 5%;
    border-radius: 4px;
}

.category-width-image {
    margin-bottom: 15px;
}
