<div class="pi-item-list row clearfix">
    <div class="col-lg-3 col-md-3 col-12">
        <div class="pi-item-search-form clearfix card bg-light mb-3">
            <div class="card-body">
                <h3 class="card-title mb-3">{{'CATEGORY_LIST' | translate}}</h3>
            </div>
            <div class="clearfix mb-3">
                <div class="pi-item-category"></div>
            </div>
            <div class="card-body">
                <form id="list-filter" ng-submit="filterAction()">
                    <div class="form-group">
                        <label>{{'TITLE' | translate}}</label>
                        <input type="text" class="form-control" ng-model="filter.title" ng-change="filterAction()"
                               ng-model-options="{ debounce: 5000 }">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info" ng-click="filterAction()">
                            <i class="fas fa-search"></i> {{'SEARCH' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-12">

        <h1>{{condition.title}}</h1>

        <div ng-show="videos.length">
            <div class="row">
                <div class="{{condition.columnSize}}" ng-repeat="video in videos">
                    <div class="card mb-3 pi-item-box">
                        <a class="card-img-top pi-item-box-image u-url {{video.ribbon_class}}" itemprop="url" title="{{video.title}}" href="{{video.videoUrl}}" target="_blank">
                            <img itemprop="image" class="card-img-top img-fluid u-photo" src="{{video.mediumUrl}}" alt="{{video.title}}"/>
                            <p ng-if="video.ribbon">
                                <span>{{video.ribbon}}</span>
                            </p>
                        </a>
                        <div class="card-body">
                            <h3 class="card-title pi-item-box-title">
                                <a title="{{video.title}}" href="{{video.videoUrl}}" target="_blank">
                                    {{video.title}}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pi-paginator">
                <pagination ng-if="paginator.count > paginator.limit"
                            total-items="paginator.count" page="paginator.page" max-size="10"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            boundary-links="true" items-per-page="paginator.limit">
                </pagination>
            </div>
        </div>
        <div class="alert alert-info" ng-if="!videos.length">
            {{'NONE_VIDEO' | translate}}
        </div>
    </div>
</div>